<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Framework Guru</title>
</head>
<body>
	<h1>Publishers List</h1>
	<table>
		<tr th:each="pub: ${publishers}">
			<td>
				<table>
					<tr><td th:text="${pub.name}" ></td>
					<tr>
						<td> 
							<table>
								<tr>
									<th>Book ID</th>
									<th>Book Name</th>
								</tr>
								<tr th:each="book : ${pub.books}">
									<td th:text="${book.id}">123</td>
									<td th:text="${book.title}">Spring in Action</td>
								</tr>
							</table>
						</td>
					</tr>			
				</table>
			</td>
		</tr>
	</table>
</body>
</html>